body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* Header styles */
.header {
  background-color: #282c34;
  padding: 20px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

/* Navigation links styles */
.header a {
  color: white;
  text-decoration: none;
  margin: 10px;
  font-size: medium;
}

/* App styles */
.App {
  text-align: center;
}

/* Pokemon list styles */
.pokemon-list {
  background-color: #f7f7f7;
  padding: 20px;
}

/* Pokemon list item styles */
.pokemon-list li {
  list-style: none;
  background-color: white;
  padding: 10px;
  margin: 10px;
  display: inline-block;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Pagination buttons styles */
.pagination-buttons {
  margin-top: 20px;
}

/* Pokemon detail styles */
.pokemon-detail {
  background-color: #f7f7f7;
  padding: 20px;
}

/* About page styles */
.about-page {
  background-color: #f7f7f7;
  padding: 20px;
  text-align: center;
  font-size: 1.2rem;
  line-height: 1.6;
}

/* About page heading styles */
.about-page h2 {
  color: #333;
  margin-bottom: 10px;
}

.pokemon-item {
  display: flex;
  align-items: center;
  padding: 10px;
  border: 1px solid #ddd;
}

/* Colors for different Pokemon types */
.yellow {
  background-color: #ffea00;
}

.orange {
  background-color: #ff7f50;
}

/* Add more styles for other colors */

/* Additional styles for PokemonDetail.js */
.pokemon-detail h2 {
  color: #333;
  margin-bottom: 10px;
}

.pokemon-detail p {
  color: #555;
  margin-bottom: 8px;
}

.pokemon-detail ul {
  padding: 0;
}

.pokemon-detail li {
  list-style: none;
  margin-bottom: 5px;
}

/* Additional styles for PokemonList.js */
.pokemon-list-container {
  display: flex;
  flex-wrap: wrap;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.button-container button {
  background-color: #282c34;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
}

.button-container button:disabled {
  background-color: #aaa;
  cursor: not-allowed;
}
/* Add these styles to your index.css file */

/* Home page styles */
.home-container {
  text-align: center;
  padding: 20px;
}

/* Home page heading styles */
.home-heading {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 20px;
}

/* Home page text styles */
.home-text {
  font-size: 1.2rem;
  color: #555;
  line-height: 1.6;
  margin-bottom: 15px;
}

